:root {
    --color-0: rgb(0, 0, 0);
    --color-1: #ffdb59;
    --color-3: #00bf3a;
    --background-color: #fcfce3;
    --background: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Inconsolata", monospace;
}

html::-webkit-scrollbar {
  display: none;
}

/* layout */
.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: repeat(minmax(350px, auto));
}

* {
  box-sizing: border-box;
}

/* general components */

body {
  background: var(--background);
  border: 5px solid var(--color-0);
  letter-spacing: 2px;
  max-width: 1100px;
  margin: 0rem auto;
}

@media screen and (min-width: 700px) {
  body {
    margin: 1rem auto;
  }
  html {
    padding: 0 1rem;
  }
}

p {
  line-height: 1.5;
}

.box-header {
  background: var(--color-3);
  padding: 0.5rem 2rem;
  border-bottom: 5px solid var(--color-0);
}


.box {
  padding: 1rem;
  background: var(--background-color);
  min-height: 350px;
}

.code {
  font-family: Consolas, monospace;
}

/* styling */
.with-img-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: var(--background-color);
}

aside:nth-child(1) {
  background: url(img/promises.jpg) no-repeat center center;
  background-size: cover;
}

aside:nth-last-of-type(2) {
  background: var(--color-0) url(img/reject.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

section:nth-of-type(2) {
  background: var(--color-0) url(img/laugh.jpg) no-repeat center center;
  background-size: cover;
  justify-content: space-between;
}


.green {
  color: var(--color-3);
}

.header-color {
  background: var(--color-3);
}

.li-square {
  list-style-type: square;
  line-height: 1.5;
}

.li-no-style {
  list-style-type: none;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.vertical-borders {
  background: var(--color-0);
}

.fat {
  font-weight: 700;
}

.flex-pineapple {
  display: flex;
}

.flex-pineapple > p {
  min-width: 70%;
}

.pineapple {
  padding: 0 10px;
}

.shaking {
  animation: shake 1s infinite linear;
}

@keyframes shake {
  0% {
    transform:  rotate(10deg);
  }
  50% {
    transform:  rotate(-10deg);
  }
  100% {
    transform:  rotate(10deg);
  }
}

.last-row {
  grid-column: 1 / -1;
  min-height: 0;
  text-align: center;
}

/* footer */

footer {
  padding: 0.5rem;
  text-align: center;
  border-top: 5px solid var(--color-0);
  background: var(--color-3);
}

.strike {
  position: relative;
}

.strike::after {
  content: "";
  border-bottom: 3px solid tomato;
  position: absolute;
  left: -5%;
  top: 50%;
  width: 110%;
  transform: rotate(5deg);
}

.marked {
  border: 2px solid var(--color-0);
  padding: 0px 5px;
  background-color: var(--color-1);
}
